/* Nesse arquivo, faremos TODAS as REGRAS css necessárias para a formatação do site. */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../imagens/oriental-tiles.png);
    background-attachment: fixed;
}

#container {
    background: linear-gradient(180deg, rgb(33, 34, 121) 0%, rgba(0,18,94,0.8827906162464986) 100%);
    width: 80%;
    margin: auto;
    box-shadow: inset white 0 0 7px;
    padding: 16px;
    border-radius: 40px;
    color: white;
}

/* Desafio: aplique as seguintes propiredades:
- borda em todos os lados, na cor que quiser ok
- sombra (na cor que quiser) no bloco virada para dentro OK
- coloque o texto no meio ok
- letras maiusculas ok */

h1 {
    text-transform: uppercase;
    text-align: center;
    border-radius: 40px;
    box-shadow: inset white 0 0 5px;
    border: rgb(211, 197, 5) solid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    padding-left: 10px;
    font-size: 20px;
    border-bottom: solid 5px;
    border-left: solid 5px;
}

/*  Grupo de seletores */
h3, p, figcaption {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(
                rgb(225, 250, 1), 
                rgb(153, 127, 12)
    );
}/* "to rigt" dentro do linear-gradient direção das do gradiente das cores */

.destaque{
    background-color: white;
    padding: 3px;
    color: black;
    border-radius: 4px;
}

/* orgfanizando a imagem dentro da TAG figure */
figure{
    margin: 0;
    text-align: center;
}
/* TAG para organizar todas as imagens, sem estourar, tornar responsivas */
img{
    max-width: 100%;
}

/*nav {
    background: radial-gradient(circle, rgb(240, 216, 5) 0%, rgb(117, 116, 25) 100%);
    padding-left: 10px;
    padding-right: 10px;
    border: solid 5px;
    display: inline-block;
}*/

/* Seletor descendente  */
p a {color: red;}

ul {padding: 55px;}

li {
    list-style-type: square;
    /*ist-style-image: url(../imagens/fundo03.gif)
    colocar imagens do "ponto" da lista*/
    line-height: 40px;
}

/* Seletor pseudo-elemento (usa 2x os dois pontos ::) */
li::marker{
    content: "💻 "; /*win+ponto = emojis*/
    font-size: 30px;
}

/* Regras para MENU */

nav { text-align: center;}

/* Regras para o estado inicial do link */

nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: linear-gradient(
                rgb(225, 250, 1), 
                rgb(153, 127, 12));
    width: 50%;
    display: inline-block;
    padding: 10px;
    /* Alterando o box model fazendo com que o padding e o border não altere nas dimensão fineis do elemento! */
    box-sizing: border-box;
}
nav a:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

nav a:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Regra para o estado do link acuionado */
nav a:hover, nav a:focus {
    background-image: url(../imagens/double-bubble-dark.png);
    color: yellow;
}

.linkativo {
    background-image: url(../imagens/double-bubble-dark.png);
    color: yellow;
}

figure img {
    transition: 0.8s;
    filter: grayscale();
    /* clip-path: circle(23.9% at 0 50%); */
    /* transform: scale(1); */
    transform: scale(0.8);
}

figure img:hover {
    filter: none;
    /* clip-path: circle(72.7% at 51% 51%); */
    /* transform: scale(0.9) */
    transform: scale(1) /*rotate(360deg); */
}

/* Regras de animação */

@keyframes caindo {
    /* como começa */
    from { transform: translatey(-100px); }

    /* como termina */
    to { transform: translatey(0); }
}
