html, body, .container {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  
}

.container {
  position: relative;
  background: #2F2F31;
  width: 100%;
  margin: 0;
}

#navMenu {
  display:block;
  top: 150px;
  left: 200px;
  width: 140px;
  height: 140px;
  z-index: 100;
  background: linear-gradient(90deg, #910EC9, #d350db, #910EC9);
  background-size: 400% 400%;
  animation: gradient 5s infinite;
}

#navMenu:hover, .nav:hover {
  background: #d350db;
}

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}

.diamond {
  position:absolute;
  width: 67.5px;
  height: 67.5px;
  transform: rotate(45deg);
  background: #910EC9;
  margin: 0px;
  cursor: pointer;
  box-shadow: 0px 0px 10px #101010;
}

.diamond:active {
  background: #710b9e;
  box-shadow: 0px 0px 10px #101010;
  transition: 0.1s;
}

/*.popUp{
  text-align:center;
  border-radius:10px 0px;
  position:absolute;
  top:100px;
  left:330px;
  overflow:hidden;
  background:red;
  width:0px;
  max-width:100px;
}

.nav1:hover + .popUp{
  width:100px;
}*/

.nav {
  transition: 0.5s;
}

.nav2 {
  top: 86px;
  left: 287px;
}

.nav3 {
  top: 86px;
  left: 185px;
}

.nav1 {
  top: 35px;
  left: 236px;
}

.nav4 {
  top: 136px;
  left: 337px;
}

.nav5 {
  top: 136px;
  left: 135px;
}

.small {
  top: 186px;
  left: 236px;
  z-index: 10;
  background: #643fc1;
  transition: 0.5s;
}

.rotCorrect {
  transform: rotate(-45deg);
  margin-left: 14px;
  margin-top: 9px;
}

#mainRotCorrect {
  margin-left: 29px;
  margin-top: 23px;
  transform: rotate(-45deg);
  max-width: 90px;
}

i {
  color: #EEEEEE;
}

@media screen and (max-width: 500px) {

  .container {
      width: 70%;
  }
}